body{

height: 100vh;
}

@font-face {
  font-family: "Dissolve_regular";
  src: url(fonts/Disolve_regular.ttf) format('truetype');
}

@font-face {
  font-family: "Sphere-fez";
  src: url(fonts/SphereFez-8MAzJ.ttf) format('truetype');
}

.container-fluid{
  background-image: url('images/cypher (11).png');
  height: 100vh;
}

.nav-link{
  font-size: 2.5vh;
    color: white;
    margin-right:  20%;
    font-weight: 700;
    font-family: "Sphere-fez";
}
.navbar-brand{
  font-family: "Sphere-fez";
  font-weight: 500;
}

.text-center{
  color: white;

font-family: "Sphere-fez";


}





/*
@media screen and (min-width: 50px) and (max-width: 100px) {
  .main-heading h{
    margin-left: 0%;
    margin-right: 1%;
    margin-top: 80%;
    margin-bottom: ;
    font-size: 22vw;
  }
}
@media screen and (min-width: 100px) and (max-width: 190px) {
  .main-heading {
    margin-left: 0%;
    margin-right: 20%;
    margin-top: 165%;
    margin-bottom: ;
    font-size: 22vw;
  }
}
@media screen and (min-width: 190px) and (max-width: 255px) {
  .main-heading {
    margin-left: 1.5%;
    margin-right: 20%;
    margin-top: 140%;
    margin-bottom: 0%;
    font-size: 23vw;
  }
}
@media screen and (min-width: 255px) and (max-width: 300px) {
  .main-heading  {
    margin-left: 2%;
    margin-right: 20%;
    margin-top: 110%;
    margin-bottom: 0;
    font-size: 23vw;
  }
}
@media screen and (min-width: 300px) and (max-width: 380px) {
  .main-heading  {
    margin-left: 2%;
    margin-right: 12%;
    margin-top: 90%;
    margin-bottom: 0;
    font-size: 23vw;
  }
}
@media screen and (min-width: 380px) and (max-width: 430px) {
  .main-heading  {
    margin-left: 2%;
    margin-right: 13%;
    margin-top: 82%;
    margin-bottom: 0;
    font-size: 24vw;
  }
}
@media screen and (min-width: 430px) and (max-width: 500px) {
  .main-heading  {
    margin-left: 5%;
    margin-right: 12%;
    margin-top: 67%;
    margin-bottom: 0;
    font-size: 23vw;
  }
}
@media screen and (min-width: 500px) and (max-width: 580px) {
  .main-heading {
    margin-left: 8%;
    margin-right: 10%;
    margin-top: 52%;
    margin-bottom: 0;
    font-size: 23vw;
  }
}
@media screen and (min-width: 580px) and (max-width: 690px) {
  .main-heading  {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 45%;
    margin-bottom: 0;
    font-size: 23vw;
  }
}

@media screen and (min-width: 690px) and (max-width: 839px) {
  .main-heading  {
    margin-left: 12%;
    margin-right: 10%;
    margin-top: 36%;
    margin-bottom: 0;
    font-size: 21vw;
  }
}

@media screen and (min-width: 839px) and (max-width: 992px) {
  .main-heading  {
    margin-left: 14%;
    margin-right: 12%;
    margin-top: 34%;
    margin-bottom: 0;
    font-size: 20vw;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .main-heading  {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 25%;
    margin-bottom: 0;

  }
}

@media screen and (min-width: 1200px) {
  .main-heading  {
    margin-left: 23%;
    margin-right: 25%;
    margin-top: 20%;
    margin-bottom: 0;
  }
} */
